/*load-return-button*/

.load-btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: black;
}

.return-btn-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.d-none {
    display: none;
}

.load-btn {
    background-color: #0b5570;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}